<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="push">
    <mat-list role="list">
      <mat-list-item role="listitem"> <a mat-button color="primary" routerLink="/protected">Konto</a> </mat-list-item>
     </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <nav>
      <mat-toolbar color="primary">
        <button *ngIf = "userLogged" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openDrawer(drawer)">
          <mat-icon>menu</mat-icon>
        </button>
        <span><a class="appName" routerLink="/">MeetCodeBro</a></span>
        <span class="example-spacer"></span>
    
          <button *ngIf = "userLogged" mat-button (click)="logOut()">Wyloguj</button>
    
        
        <div *ngIf = "!userLogged" class="example-button-row">
          <button mat-button routerLink="/login">Logowanie</button>
          <button mat-button routerLink="/register">Rejestracja</button>
        </div>
      </mat-toolbar>
    </nav>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
  

