<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MeetCodeBro</title>
</head>
<body>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <H1>MeetCodeBro</H1>
  <nav>
    
    <h2>Simple navigation</h2> <br/>
    
    <p><a routerLink="/protected">Zablokowana strona</a></p>
    
    <div *ngIf = "userLogged">
      <p><button (click)="logOut()">Wyloguj</button></p>
    </div>
    
    <div *ngIf = "!userLogged">
      <p><a routerLink="/login">Logowanie</a></p>
      <p><a routerLink="/register">Rejestracja</a></p>
    </div>
    
    
  </nav>
  <router-outlet></router-outlet>
</body>
</html>
