<div class="user-profile-container">
    <img class="user-photo" src="../../assets/profile.jpg" alt="Zdjęcie profilowe">

    <span class="user-name-surname">{{userInformation.name}} {{userInformation.surname}}</span>

    <span class="user-description">{{userInformation.description}}</span>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Dane użytkownika">
            <form id="user-information-form" [formGroup]="userProfileForm" (ngSubmit)="addUserData()">

                <mat-form-field appearance="fill">
                    <mat-label>Imię</mat-label>
                    <input matInput placeholder="Wprowadź imię" type="text" formControlName="userName">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Nazwisko</mat-label>
                    <input matInput placeholder="Wprowadź nazwisko" type="text" formControlName="userSurname">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Opis</mat-label>
                    <textarea matInput placeholder="Napisz coś o sobie..." type="text" formControlName="userDescription"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Github</mat-label>
                    <input matInput placeholder="Link do konta github" type="url" formControlName="userGithub">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Linkedin</mat-label>
                    <input matInput placeholder="Link do konta Linkedin" type="url" formControlName="userLinkedin">
                </mat-form-field>

                <button mat-flat-button color="primary" type="submit"> Zatwierdź </button>
            </form>
        </mat-tab>
        <mat-tab label="Umiejętności">
            Wybierz technologie które znasz: <br/>

            <mat-form-field appearance="fill">
                <mat-label>Wybierz technologie</mat-label>
                <mat-chip-list #technologyList aria-label="User technologies">
                  <mat-chip color="primary"
                    *ngFor="let technology of userTechnologiesName"
                    (removed)="removeTechnology(technology)">
                    {{technology}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    #technologyInput
                    [formControl]="userTechnologies"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="technologyList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTechnology($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTechnology($event)">
                  <mat-option *ngFor="let tech of allTechnologies" [value]="tech.ID">
                    {{tech.Name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              
              <button mat-raised-button color="primary" (click)="saveUserTechnologies()">Zatwierdź</button>
        </mat-tab>
        <mat-tab label="Znajomi">
            <div id="user-friend-container">
                <div class="user-inviations">
                    <span class="user-friends-header">Zaproszenia</span>
                    <div class="user-mat-card-container">
                        <mat-card class="user-information-card"  *ngFor="let sender of invitationSenders;">
                            <mat-card-header>
                            <mat-card-title>{{sender.senderInformation.name}} {{sender.senderInformation.surname}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="../../assets/profile.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-actions>
                            <button mat-button (click)="addToFriend(sender.invitationInformation.senderID)">
                                <mat-icon class="material-icons-outlined">done_outline</mat-icon>
                            </button>
                            <button mat-button routerLink="/user/{{sender.invitationInformation.senderID}}">
                                <mat-icon class="material-icons-outlined">perm_identity</mat-icon>
                            </button>
                            <button mat-button (click)="deleteInvitation(sender.invitationInformation.senderID)">
                                <mat-icon class="material-icons-outlined">highlight_off</mat-icon>
                            </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div class="user-firends">
                    <span class="user-friends-header">Znajomi</span>

                    <div class="user-mat-card-container">
                        <mat-card class="user-information-card" *ngFor="let friend of userFriends;">
                            <mat-card-header>
                            <mat-card-title>{{friend.userInformation?.name}} {{friend.userInformation?.surname}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="../../assets/profile.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-actions>
                            <!-- <button mat-button>
                                <mat-icon class="material-icons-outlined">done_outline</mat-icon>
                            </button> -->
                            <button mat-button routerLink="/user/{{friend.friendID}}">
                                <mat-icon class="material-icons-outlined">perm_identity</mat-icon>
                            </button>
                            <button mat-button (click)="deleteFriend(friend.friendID)">
                                <mat-icon class="material-icons-outlined">highlight_off</mat-icon>
                            </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            </mat-tab>
            <mat-tab label="Proponowani znajomi">
                <div id="user-friend-container">
                    <div class="user-inviations-skills">
                        <span class="user-friends-header">Podobne technologie</span>
                        <mat-card class="user-information-card"></mat-card>
                    </div>
                    <div class="user-inviations-friends">
                        <span class="user-friends-header">Znajomi znajomych</span>
                        <mat-card class="user-information-card"></mat-card>
                    </div>
                </div>
        </mat-tab>
    </mat-tab-group>

</div>